/* font-family: 'Press Start 2P', cursive;
font-family: 'Space Grotesk', sans-serif; */
* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(166, 196, 166);
  padding: 2rem;
  color: rgb(83, 183, 190);
  line-height: 1.6rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #a39a77;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.bg-duck {
  position: relative;
  /* margin-left: 300px; */
  max-height: 300px;
}

h1 {
  position: absolute;
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  /* font-weight: bolder; */
  margin: 1rem auto;
  color: #fec601;
  z-index: 1;
  -webkit-text-stroke: 2px black;
  text-shadow: 0 0 10px #fec601;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 20px;
  text-align: center;
}

h4 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 8px;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 0 0 2px #023618;
  margin-top: 2rem;
}

.body-text {
  color: #023618;
  margin-bottom: 30px;
}

section {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  max-height: 175px;
  transition: 0.3s;
  border-radius: 20px;
}

main img:hover {
  border: 5px solid #fec601;
  border-radius: 8px;
  cursor: pointer;
  transform: scale(1.5);
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 2px 2px 2px 0.1px #02361882;
}

section.no-voting img:hover {
  opacity: 40%;
  transition: none;
  transform: none;
  border: none;
}

/* div {
  max-width: 200px;
} */

section + div {
  transition: 0.5s;
  border-radius: 8px;
  background-color: #ffc80077;
  color: lightgray;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  margin: 1rem;
  max-width: 200px;
  pointer-events: none;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section + div.clicks-allowed {
  border-radius: 8px;

  background-color: #fec601;
  color: white;
  cursor: pointer;
  pointer-events: auto;
  margin-bottom: 3rem;
}

section + div.clicks-allowed:hover {
  border-radius: 25px;
  background-color: orange;
  transform: scale(1.2);
}

ul {
  margin: 1rem 0;
}

li {
  line-height: 1.6;
}

canvas {
  width: 75%;
  height: 500px;
}
